# Acceso público (Cliente y Servidor)
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-clave-anon-aqui

# Acceso privado (Solo Servidor)
# Úsala solo si necesitas crear scripts que ignoren el RLS
SUPABASE_SERVICE_ROLE_KEY=tu-clave-service-role-super-secreta

# Kapso API
KAPSO_API_KEY=tu_api_key_de_kapso
KAPSO_PROJECT_ID=tu_project_id_de_kapso
