# Acceso público (Cliente y Servidor)
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=publishable_key

# Acceso privado (Solo Servidor)
# Úsala solo si necesitas crear scripts que ignoren el RLS
SUPABASE_SERVICE_ROLE_KEY=secret_key

# Clave para proteger el endpoint del cron job (debe coincidir con la que pongas en el script SQL)
CRON_SECRET=una_clave_secreta_para_el_cron_job

# Datos de tu App en Meta

# Embedded Signup
NEXT_PUBLIC_META_APP_ID=tu_app_id
NEXT_PUBLIC_META_CONFIG_ID=tu_config_id_del_embedded_signup
NEXT_PUBLIC_WHATSAPP_API_VERSION=v25.0
META_APP_SECRET=tu_app_secret

# Webhook y Redirección
WHATSAPP_VERIFY_TOKEN=una_clave_inventada_por_ti


# TEST META

# Identificador del número de teléfono (se encuentra en el panel de Meta)
WHATSAPP_PHONE_NUMBER_ID=tu_phone_number_id_aqui

# Token de acceso (puedes usar el temporal de 24hs para la prueba o uno permanente)
WHATSAPP_ACCESS_TOKEN=tu_access_token_aqui
