@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
}

:root {
    --chart-background: oklch(1 0 0);
    --chart-foreground: oklch(0.145 0.004 285);
    --chart-foreground-muted: oklch(0.55 0.014 260);
    --chart-line-primary: oklch(0.623 0.214 255);
    --chart-line-secondary: oklch(0.705 0.015 265);
    --chart-crosshair: oklch(0.4 0.1828 274.34);
    --chart-grid: oklch(0.9 0 0);
}

.dark {
    --chart-background: oklch(0.145 0 0);
    --chart-foreground: oklch(0.45 0 0);
    --chart-crosshair: oklch(0.45 0 0);
    --chart-grid: oklch(0.25 0 0);
}